{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blood Sugar Tracker</title>
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <nav class="navbar" >
            <h1 class="logo">SugarTrack</h1>
            <ul class="nav-links" style=' font-size: 22px'> 
                <li><a href="../">Home</a></li>
                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/patient/patientlogin">Patient</a></li>
                <li><a href="/donor/donorlogin">Donor</a></li>
                <li><a href="/adminlogin">Admin</a></li>
                
            </ul>
        </nav>
    </header>